// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.active {
  font-weight: 700;
}

.post-index-item > a {
  text-decoration: none;
  font-family: sans-serif;
}

.post-index-item >a:hover {
  font-weight: 700;
}

.post-index {
  
}

.post-index-item {
  list-style: none;
  padding: 6px;
}

.new-post-form {
  display: flex;
  width: 200px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid grey;
  border-radius: 6px;
  font-family: sans-serif;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
}

.post-detail {
  display: flex;
  flex-direction: column;
  width: 300px;
  height:300px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  border: 2px solid grey;
  border-radius: 6px;
}
