// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.active {
  font-weight: 700;
}

.post-index-item > a {
  text-decoration: none;
  font-family: sans-serif;
}

.post-index-item >a:hover {
  font-weight: 700;
}

.post-index-item {
  list-style: none;
  padding: 6px;
}
